@model Usuario
@using Models

@{ViewData["title"]="Crear usuario";}

<h1 class="text-center">Crear usuario</h1>

<form asp-controller = "Usuario" asp-action="CrearUsuario" method="post" class="form-view">
    <div class="form-group">
        <label class="form-label" asp-for="@Model.Nombre_de_usuario">Nombre </label>
        <input asp-for = "@Model.Nombre_de_usuario" placeholder = "Ingrese su nombre" class="form-control">
    </div>
    
    <input type="submit" class="btn btn-primary" value="Enviar">
</form>
